<div class="row">        <!-- first two days -->
    <table class="table table-striped">
       <tr>
    <th colspan = "2" style="background-color:#b3ffb3"> September 13</th>
      </tr>
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>2 PM</td>
        <td style = "text-align:left"> <a href="https://datacarpentry.org/r-socialsci/00-intro/index.html">Before We Start</a></td>       <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:40 PM</td>        <!-- time    -->
        <td style = "text-align:left"> <a href="https://datacarpentry.org/r-socialsci/01-intro-to-r/index.html">Introduction to R</a></td>       <!-- content -->
      </tr>
      <tr>
    <th colspan = "2" style="background-color:#b3ffb3"> September 14</th>
      </tr>
      <tr>               <!-- row 1   -->
        <td>2 PM</td>        <!-- time    -->
        <td style = "text-align:left"> <a href="https://datacarpentry.org/r-socialsci/02-starting-with-data/index.html">Starting with Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>3:30 PM</td>        <!-- time    -->
        <td><td style = "text-align:left"> <a href="http://swcarpentry.github.io/r-novice-inflammation/11-supp-read-write-csv/index.html">Reading and Writing CSV FIles</a></td> </td>        <!-- content -->
      </tr>
    <tr>
    <th colspan = "2" style="background-color:#b3ffb3"> September 15</th>
      </tr>
      <tr>               <!-- row 1   -->
        <td>2 PM</td>        <!-- time    -->
        <td style = "text-align:left"> <a href="https://datacarpentry.org/r-socialsci/03-dplyr-tidyr/index.html">Data Wrangling with dplyr and tidyr</a></td>        <!-- content -->
      </tr>
    <tr>
    <th colspan = "2" style="background-color:#b3ffb3"> September 16</th>
      </tr>
      <tr>               <!-- row 1   -->
        <td>2 PM</td>        <!-- time    -->
        <td style = "text-align:left"> <a href="https://datacarpentry.org/r-socialsci/04-ggplot2/index.html">Data Visualization with ggplot2</a></td>          <!-- content -->
      </tr>
    <tr>
    <th colspan = "2" style="background-color:#b3ffb3"> September 17</th>
      </tr>
      <tr>               <!-- row 1   -->
        <td>2 PM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/index.html">Creating Reports with knitr</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>3 PM</td>        <!-- time    -->
        <td>Final Project Instructions and Discussion</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
</div>
