<div class="row">        <!-- first two days -->
    <h3>September 13</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>2 PM</td>
        <td><a href="https://datacarpentry.org/r-socialsci/00-intro/index.html">Before We Start</a></td>       <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:40 PM</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-socialsci/01-intro-to-r/index.html">Introduction to R</a></td>       <!-- content -->
      </tr>
    </table>
    <h3>September 14</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>2 PM</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-socialsci/02-starting-with-data/index.html">Starting with Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
     <!-- days 3 and 4 -->
    <h3>September 15</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>2 PM</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-socialsci/03-dplyr-tidyr/index.html">Data Wrangling with dplyr and tidyr</a></td>        <!-- content -->
      </tr>
    </table>
    <h3>September 16</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
    <!-- days 3 and 4 -->
    <h3>September 17</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>2 PM</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-socialsci/03-dplyr-tidyr/index.html">Data Wrangling with dplyr and tidyr</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
</div>
